In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series,DataFrame

In [ ]:
from numpy.random import randn

In [ ]:
data =Series (['one','two',np.nan,'four'])

In [ ]:
data

In [ ]:
data.isnull()

In [ ]:
data.isnull

In [ ]:
data.dropna

In [ ]:
cleans=data.dropna()

In [ ]:
data.dropna(how='all')

In [ ]:
df= DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,np.nan],[np.nan,np.nan,np.nan]])

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(how='all')

In [ ]:
df.dropna(axis=1)

In [ ]:
df

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.dropna(thresh=3)

In [ ]:
df.fillna(999)

In [ ]:
df.fillna({0:0,1:1,2:2,3:3})

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df

In [ ]:
ser =Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','d','e','f']])

In [ ]:
a=randn(6)

In [ ]:
ser

In [ ]:
ser =Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','d','e','f']])

In [ ]:
ser

In [ ]:
ser.index

In [ ]:
ser[2]

In [ ]:
ser[:,'a']

In [ ]:
df2=ser.unstack()

In [ ]:
df2

In [ ]:
ser2 =Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [ ]:
df3=ser.unstack()

In [ ]:
df3

In [ ]:
ser2[:,'a']

In [ ]:
df2 =DataFrame(np.arange(36).reshape(6,6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']],columns=[['AA','AA','AA','BB','BB','BB'],['A','B','C','A','B','C']])

In [ ]:
df2

In [ ]:
df2.index.names=['number','char']

##

In [ ]:
df2

In [ ]:
df2.columns.names=['double','single']

In [ ]:
df2

In [ ]:
d3=df2.swaplevel('double','single',axis=1)

In [ ]:
df2.sum(level='double',axis=1)