In [1]:
import sys

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import Series,DataFrame

In [ ]:
!head FL_insurance_sample.csv

In [ ]:
df =pd.read_csv('FL_insurance_sample.csv')

In [ ]:
df.head()

In [ ]:
df =pd.read_csv('FL_insurance_sample.csv',header=None)

In [ ]:
df.head()

In [ ]:
df =pd.read_csv('FL_insurance_sample.csv',sep=',',header=None)

In [ ]:
df =pd.read_csv('FL_insurance_sample.csv',nrows=10)

In [ ]:
df

In [ ]:
df.to_csv('partial.csv')

In [ ]:
!cat partial.csv

In [ ]:
df.to_csv(sys.stdout)

In [ ]:
df.to_csv(sys.stdout,sep='*')

In [ ]:
#try this

In [ ]:
#df.to_csv(sys.stdout,sep='*',columns=[....])

In [ ]:
jsonE="""{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}
"""

In [ ]:
import json

In [ ]:
data= json.loads(jsonE)

In [ ]:
data

In [ ]:
type(data)

In [ ]:
out=json.dumps(data)

In [ ]:
out

In [ ]:
type(out)

In [ ]:
df= DataFrame(data)

In [ ]:
df

In [6]:
data['glossary']['GlossDiv']

NameError: name 'data' is not defined

In [10]:
from pandas import read_html

In [13]:
url ='https://evrater.com/evs'

In [14]:
df=pd.io.html.read_html(url)

In [15]:
#!pip install BeautifulSoup4

In [17]:
df[0]

                        Model Unnamed: 1     Price  Rangemiles  BatterykWh
0                 Audi e-tron      EU US   $74,800         204        95.0
1                      BMW i3      EU US   $44,450         114        33.0
2           Chevrolet Bolt EV         US   $36,620         238        60.0
3                   Fiat 500e         US   $32,995          84        24.0
4         Ford Focus Electric      EU US   $29,120         115        33.5
5      Honda Clarity Electric         US   $37,510          89        25.5
6      Hyundai Ioniq Electric      EU US   $29,500         124        28.0
7       Hyundai Kona Electric      EU US   $36,450         258        64.0
8               Jaguar I-PACE      EU US   $76,500         234        90.0
9                 Kia Niro EV         US   $39,000         239        64.0
10                Kia Soul EV      EU US   $33,950         111        30.0
11      Nissan Leaf (2nd Gen)      EU US   $29,990         151        40.0
12                Renault Zoe         EU   $31,000         186        41.0
13                   Smart ED      EU US   $23,800         100        17.6
14   Tesla Model 3 Long Range      EU US   $43,000         325        74.0
15    Tesla Model 3 Mid Range         US   $40,000         264        62.0
16     Tesla Model 3 Standard      EU US   $35,000         220        55.0
17   Tesla Model S Long Range      EU US   $83,000         335       100.0
18  Tesla Model S Performance      EU US   $99,000         315       100.0
19     Tesla Model S Standard      EU US   $79,000         270        75.0
20   Tesla Model X Long Range      EU US   $88,000         295       100.0
21  Tesla Model X Performance      EU US  $104,000         289       100.0
22          Volkswagen e-Golf      EU US   $30,495         119        35.8
23           Volkswagen e-Up!         EU   $34,500          99        18.7

In [19]:
xls = pd.ExcelFile('1.xlsx')

In [21]:
df= xls.parse()

In [22]:
df

   1      2 Unnamed: 2   3   4
0  a    bob          x NaN NaN
1  s    ben          y NaN NaN
2  d  hamid          u NaN NaN
3  f    pat          j NaN NaN
4  g   nate          k NaN NaN

In [ ]:
.70